@font-face {
    font-family: DancingScript;
    src: url(//fonts.googleapis.com/css?family=Dancing+Script);
}
h1 {
    margin: 0.25em;
    font-family: "Dancing Script";
    font-size: 15px;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
