$backgroung-color: #f2f2f2;
$backgroung-color-light: #fff;
$text-primary-color: #fff;
$text-primary-color-dark: #000;
$text-primary-color-dark-light: #4d4d4d;
$text-primary-color-error: #ef3b3a;

$primary-color: #f0990b;
$primary-color-dark: #b48333;
$primary-color-dark2: #9c6204;
$primary-color-light: #f8b446;
$primary-color-light2: #f8c676;

$complementary-color: #14509d;
$complementary-color-dark: #294b76;
$complementary-color-dark2: #063066;
$complementary-color-light: #4782ce;
$complementary-color-light2: #6b97ce;
